<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div>
    <img src="assets/images/logo.png" style="width:100px;height:100px;">
    <button class="btn btn-success" (click)="history()">History</button>
    <button class="btn btn-success" (click)="logout()">Logout</button>
  </div>

  <div  class="chatform">
    <message-list [messages]="messages"></message-list>
    <message-form [message]="message" [messages]="messages"></message-form>
  </div>
</div>
